html, body, .wrapper {
  height: 100%;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #d1cdb7;
  font-family: helvetica, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
  color: #454138;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 5px 5px 0 #bab5a1;
}

input {
  padding: 0.5rem;
  border: none;
  outline: none;
}

a {
  color: #454138;
}

.button-wrapper {
  margin: 5px 0;
  text-align: center;
}

button {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 0;
  background-color: #454138;
  color: white;
}

.border-red {
  border: 1px solid red;
}

#login {
  padding: 20px;
  width: 420px;
  font-size: 1.25rem;
}

.login__sign {
  margin-top: 0;
  text-align: center;
}

.login-form__input {
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  box-sizing: border-box;
  margin: 5px 0;
}

#settings {
  padding: 20px;
  width: 420px;
  border: solid #454138b0 1px;
  font-size: 1.25rem;
}

.settings__title {
  text-align: center;
}

.settings__body {
  display: flex;
}

.settings__profile {
  margin-left: 20px;
  width: 100%;
}

.setting__logout-btn {
  text-align: right;
}

.setting__logout-btn a {
  color: red;
}

.app {
  width: 800px;
  height: 600px;
  border: solid #454138b0 1px;
}

#settings-cog {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 42px;
  height: 42px;
}

.head {
  display: flex;
  height: 72px;
  border-bottom: 1px solid #454138b0;
}

.dialog {
  overflow-y: scroll;
  position: relative;
  text-align: right;
  height: 484px;
}

.head__login {
  line-height: 72px;
  margin-left: 1rem;
}

.head__dialogs {
  margin-left: auto;
  width: calc(30% - 1px);
  font-size: 1.5rem;
  line-height: 72px;
}

.head__dialogs__sign {
  text-align: center;
  margin: 0;
}

main {
  height: 100%;
  overflow-y: scroll;
}

.contacts {
  height: 527px;
  overflow-y: scroll;
}

.dialog__message {
  padding: 10px 20px 0 0;
}

.dialog__message--opponent {
  background: #454138b0;
}

.dialog__message__author {
  margin-top: 0;
  margin-bottom: 0;
  color: #777;
  font-size: small;
  font-weight: bold;
}

.dialog__message__author--opponent {
  color: white;
}

.dialog__message__content {
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.dialog__message__content--opponent {
  color: white;
}

.contact {
  height: 40px;
  display: flex;
}

.contact--even {
  background: #eee;
}

.contact__name {
  line-height: 40px;
}

.contacts-wrapper {
  float: right;
  width: 29.85%;
  border-left: 1px solid #454138b0;
}

.dialog__tools-wrapper {
  width: 100%;
  height: 50px;
}

.dialog__tools {
  padding: 5px;
  display: flex;
}

.dialog__tools__text {
  width: 80%;
  margin: 0 7px;
}

.dialog-wrapper {
  float: left;
  width: 70%;
}

#signup {
  padding: 20px;
  width: 420px;
  font-size: 1.25rem;
}

.signup__sign {
  margin-top: 0;
  text-align: center;
}

.signup-form__input {
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  box-sizing: border-box;
  margin: 5px 0;
}

.signup-form__btn__wrapper {
  text-align: center;
}

/******************** HELPERS ***************/
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mx-auto {
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
