#login {
  padding: 20px;
  width: 420px;
  font-size: 1.25rem;
}
.login__sign {
  margin-top: 0;
  text-align: center;
}
.login-form__input {
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  box-sizing: border-box;
  margin: 5px 0;
}