.app {
  width: 800px;
  height: 600px;
  border: solid #454138b0 1px;
}

#settings-cog {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 42px;
  height: 42px;
}

.head {
  display: flex;
  height: 72px;
  border-bottom: 1px solid #454138b0;
}

.dialog {
  overflow-y: scroll;
  position: relative;
  text-align: right;
  height: 484px;
}

.head__login {
  line-height: 72px;
  margin-left: 1rem;
}

.head__dialogs {
  margin-left: auto;
  width: calc(30% - 1px);
  font-size: 1.5rem;
  line-height: 72px;
}

.head__dialogs__sign {
  text-align: center;
  margin: 0;
}

main {
  //height: calc(100% - 72px - 50px);
  height: 100%;
  overflow-y: scroll;

}
.contacts {
  height: 527px;
  overflow-y: scroll;
}

.dialog__message {
  padding: 10px 20px 0 0;
}

.dialog__message--opponent {
  background: #454138b0;
}

.dialog__message__author {
  margin-top: 0;
  margin-bottom: 0;
  color: #777;
  font-size: small;
  font-weight: bold;
}

.dialog__message__author--opponent {
  color: white;
}

.dialog__message__content {
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.dialog__message__content--opponent {
  color: white;
}

.contact {
  height: 40px;
  display: flex;
}

.contact--even {
  background: #eee;
}

.contact__name {
  line-height: 40px;
}

.contacts-wrapper {
  float: right;
  width: 29.85%;
  border-left: 1px solid #454138b0;
}

.dialog__tools-wrapper {
  width: 100%;
  height: 50px;
}

.dialog__tools {
  padding: 5px;
  display: flex;
}

.dialog__tools__text {
  width: 80%;
  margin: 0 7px;
}

.dialog-wrapper {
  float:left;
  width:70%;
}