#signup {
  padding: 20px;
  width: 420px;
  /*height: 350px;*/
  /*border: solid black 1px;*/
  font-size: 1.25rem;
}

.signup__sign {
  margin-top: 0;
  text-align: center;
}

.signup-form__input {
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  box-sizing: border-box;
  margin: 5px 0;
}

.signup-form__btn__wrapper {
  text-align: center;
}