body {
  background-color: #d1cdb7;
  font-family: helvetica, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
  color: #454138;
}

h1,h2,h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 5px 5px 0 #bab5a1;
}

input {
  padding: 0.5rem;
  border: none;
  outline: none;
}

a {
  color:#454138;
}


.button-wrapper {
  margin: 5px 0;
  text-align: center;
}

button {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 0;
  background-color: #454138;
  color: white;
}